absl-py==2.1.0
ads1015==1.0.0
AHRS==0.3.1
astral==3.2
blinker==1.8.2
blobconverter==1.4.3
boto3==1.35.19
botocore==1.35.19
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorzero==2.0
contourpy==1.3.0
cycler==0.12.1
depthai==2.28.0.0
depthai-pipeline-graph==0.0.5
depthai-sdk==1.15.0
enviroplus==1.0.2
filelock==3.16.0
filetype==1.2.0
fire==0.6.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
font-roboto==0.0.1
fonts==0.0.3
fonttools==4.53.1
fsspec==2024.9.0
gitdb==4.0.11
GitPython==3.1.43
gpiod==2.2.1
gpiodevice==0.0.5
gpiozero==2.0.1
greenlet==3.1.0
grpcio==1.66.1
huggingface_hub==0.24.7
i2cdevice==1.0.0
idna==3.7
imutils==0.5.4
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
kiwisolver==1.4.7
lgpio==0.2.2.0
ltr559==1.0.0
Markdown==3.7
MarkupSafe==2.1.5
marshmallow==3.17.0
matplotlib==3.9.2
mpmath==1.3.0
netifaces==0.11.0
networkx==3.3
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
packaging==24.1
paho-mqtt==2.1.0
pandas==2.2.2
pdoc==14.6.0
pillow==10.4.0
pimoroni-bme280==1.0.0
pms5003==1.0.1
protobuf==5.28.1
psutil==6.0.0
py-cpuinfo==9.0.0
pybboxes==0.1.6
pyChart.JS==0.3.0
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.4
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytube==15.0.0
PyTurboJPEG==1.6.4
pytz==2024.1
PyYAML==6.0.2
Qt.py==1.4.1
requests==2.32.3
requests-toolbelt==1.0.0
roboflow==1.1.44
rpi-lgpio==0.6
RPi.GPIO==0.7.1
s3transfer==0.10.2
sahi==0.11.18
scipy==1.14.1
seaborn==0.13.2
sentry-sdk==1.21.0
shapely==2.0.6
six==1.16.0
smbus2==0.4.3
smmap==5.0.1
sounddevice==0.5.0
spidev==3.6
SQLAlchemy==2.0.34
st7735==1.0.0
sympy==1.13.2
tensorboard==2.17.1
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
toml==0.10.2
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
types-PySide2==5.15.2.1.7
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.2.93
ultralytics-thop==2.0.6
urllib3==2.2.2
Werkzeug==3.0.4
xmltodict==0.13.0
yolov5==7.0.13
