{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css?nocache={timestamp}" type="text/css">
<!--<link rel="stylesheet" href="/static/css/index.css">-->
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-9">
                <a class="btn btn-primary" href="/data_logs" role="button">Request Data Log</a>
                <a class="btn btn-primary" href="/system_logs" role="button">View Systems Operations Log</a>

                <p class="font-italic pt-2">Selected Desired Time Range:</p>

                <!-- Time Picker HERE -->
                <form action="/data_logs" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <label for="datetimepicker1" class="mr-2">From: </label>
                                <input type="text" name="from_time" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                            </div>
                        </div>
                
                        <div class="form-group col-md-6">
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <label for="datetimepicker2" class="mr-2">To: </label>
                                <input type="text" name="to_time" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker({
                            format: 'LT'
                        });
                        $('#datetimepicker2').datetimepicker({
                            format: 'LT'
                        });
                    });
                </script>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col bg-light text-center ">
                <table class="table table-sm">
                  <thead class="thead-dark">
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col">RED</th>
                        <th scope="col">OX</th>
                        <th scope="col">NH3</th>
                        <th scope="col">Temp.</th>
                        <th scope="col">Hum.</th>
                        <th scope="col">Air Press.</th>
                        <th scope="col">Lux</th>
                        <th scope="col">Coords.</th>
                        <th scope="col">Valve</th>
                        <th scope="col">Gauge</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data %}
                    <tr>
                        <th scope="row">{{ row.timestamp }}</th>
                        <td>{{ row['data'].reducing_gases }}</td>
                        <td>{{ row['data'].oxidising_gases }}</td>
                        <td>{{ row['data'].ammonia_gases }}</td>
                        <td>{{ row['data'].temperature }}</td>
                        <td>{{ row['data'].humidity }}</td>
                        <td>{{ row['data'].air_pressure }}</td>
                        <td>{{ row['data'].lux }}</td>
                        <td>{% if row['image'].coordinates is not none %}{{ row['image'].coordinates }}{% endif %}</td>
                        <td>{% if row['image'].valve_status is not none %}{{ row['image'].valve_status }}{% endif %}</td>
                        <td>{% if row['image'].gauge_reading is not none %}{{ row['image'].gauge_reading }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<img style="display: none;" src="{{ url_for('main.video_feed') }}">
{% endblock %}