{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css?nocache={timestamp}" type="text/css">
<script>
  setTimeout(function() {
      window.location.reload();
  }, 4000); // Refresh the page every 4 seconds
</script>
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<section>
    <div class="container border border-dark">
        <div class="row">
            <div class="col-3 bg-light text-center overflow-auto border-right border-dark" style="max-height: 600px;">
                <p class="pt-2">Image Stream <i>(latest 100 images)</i></p>
                {% for image in images %}
                    <div class="card">
                        <img class="card-img-top" src="data:image/jpeg;base64,{{ image.image_bytestring }}" alt="Card image cap">
                    </div>
                {% endfor %}
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col bg-light text-center">
                        <p class="pt-2">Live Feed</p>
                        <div class="card p-1">
                          <img style="height: 300px; max-width: 40%" class="card-img-top d-block m-auto" src="{{ url_for('main.video_feed') }}">
                        </div>
                    </div>
                </div>
                <div class="row mt-3 pt-3 border-top border-dark">
                    <div class="col bg-light text-center ">

                        <table class="table table-sm">

                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Targets</th>
                              <th scope="col">Last Detected</th>
                              <th scope="col">Value</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <th scope="row">Ball Valve</th>
                              <td>{% if latest_valve_status is not none %}{{ latest_valve_status.timestamp }}{% else %}-{% endif %}</td>
                              <td>{% if latest_valve_status is not none %}{{ latest_valve_status.valve_status }}{% else %}-{% endif %}</td>
                            </tr>
                            <tr>
                              <th scope="row">ArUco Marker</th>
                              <td>{% if latest_coordinates is not none %}{{ latest_coordinates.timestamp }}{% else %}-{% endif %}</td>
                              <td>{% if latest_coordinates is not none %} Marker {{ latest_coordinates.aruco_id }} {{ latest_coordinates.coordinates }}{% else %}-{% endif %}</td>
                            </tr>
                            <tr>
                              <th scope="row">Air Pressure Gauge</th>
                              <td>{% if latest_gauge_reading is not none %}{{ latest_gauge_reading.timestamp }}{% else %}-{% endif %}</td>
                              <td>{% if latest_gauge_reading is not none %}{{ latest_gauge_reading.gauge_reading }}{% else %}-{% endif %}</td>
                            </tr>
                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}