{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css?nocache={timestamp}" type="text/css">
<!--<link rel="stylesheet" href="/static/css/index.css">-->
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<section>
    <div class="container border border-dark">
        <div class="row">
            <div class="col-3 bg-light text-center overflow-auto border-right border-dark" style="max-height: 600px;">
                <p class="pt-2">Image Stream</p>
                {% for image in images %}
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/240x150.png/afded5/afded5?Text=240x150" alt="Card image cap">
                    </div>
                {% endfor %}
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col bg-light text-center">
                        <p class="pt-2">Live Feed</p>
                        <div class="card p-1">
                          <!-- <img style="height: 300px; max-width: 70%" class="card-img-top d-block m-auto" src="https://via.placeholder.com/240x150.png/afded5/afded5?Text=240x150" alt="Card image cap"> -->
                          <img style="height: 300px; max-width: 70%" class="card-img-top d-block m-auto" src="{{ url_for('main.video_feed') }}">
                        </div>
                    </div>
                </div>
                <div class="row mt-3 pt-3 border-top border-dark">
                    <div class="col bg-light text-center ">

                        <table class="table table-sm">

                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Targets</th>
                              <th scope="col">Last Detected</th>
                              <th scope="col">Value</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <th scope="row">Ball Valve</th>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">ArUco Marker</th>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">Air Pressure Gauge</th>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}