ads1015==1.0.0
AHRS==0.3.1
astral==3.2
blobconverter==1.4.3
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
depthai==2.27.0.0
depthai-pipeline-graph==0.0.5
depthai-sdk==1.15.0
enviroplus==1.0.2
font-roboto==0.0.1
fonts==0.0.3
gpiod==2.2.1
gpiodevice==0.0.5
i2cdevice==1.0.0
idna==3.7
Jinja2==3.1.4
ltr559==1.0.0
MarkupSafe==2.1.5
marshmallow==3.17.0
netifaces==0.11.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
packaging==24.1
paho-mqtt==2.1.0
pdoc==14.6.0
pillow==10.4.0
pimoroni-bme280==1.0.0
pms5003==1.0.1
pycparser==2.22
Pygments==2.18.0
pyserial==3.5
pytube==15.0.0
PyTurboJPEG==1.6.4
pytz==2024.1
PyYAML==6.0.1
Qt.py==1.4.1
requests==2.32.3
sentry-sdk==1.21.0
smbus2==0.4.3
sounddevice==0.5.0
spidev==3.6
st7735==1.0.0
toml==0.10.2
types-PySide2==5.15.2.1.7
urllib3==2.2.2
xmltodict==0.13.0
